body {
    background-color: #D2E0E6;
}

.user {
    display: inline-block;
    background-color: #2b81af;
    padding: 2em;
    margin-right: 0.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    transition: all 0.1s;
}

.user:hover {
    box-shadow: 5px 5px 10px;
    transform: scale(1.2);
}

.main-heading, .header-paragraph {
    text-align: center;
    color: #000088;
}

.main-heading {
    font-size: 3em;
    text-shadow: 1px 1px 2px;
}

.header-paragraph {
    font-size: 2em;
    text-shadow: 1px 1px 0px;
}